{
  "extends": ["airbnb-typescript-prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["@", "./src"]],
        "extensions": [".ts", ".js", ".json"]
      }
    }
  }
}
